*.exe
*.exe~
*.dll
*.so
*.dylib
/dist/
/target/
/bin/

*.a
*.o

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env.local
.env.*.local
*.pem
*.key
*.pub
certs/
configs/*.local.json

.DS_Store
.AppleDouble
.LSOverride
._*
.directory
*~
*.bak
*.swp
*.tmp

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini

.vscode/
!.vscode/extensions.json
*.code-workspace

# Vim / Emacs
.*.sw[a-z]
.sw[a-z]
\#*\#
.#*


python_server.log
*.log